@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
  color: #928e8e;
}

h1 {
  font-size: 2.5rem;
}

.container {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.chess-board {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #928e8e;
  background: #928e8e;
}

.cell:nth-child(n + 1):nth-child(odd):nth-child(-n + 8),
.cell:nth-child(n + 9):nth-child(even):nth-child(-n + 16),
.cell:nth-child(n + 17):nth-child(odd):nth-child(-n + 24),
.cell:nth-child(n + 25):nth-child(even):nth-child(-n + 32),
.cell:nth-child(n + 33):nth-child(odd):nth-child(-n + 40),
.cell:nth-child(n + 41):nth-child(even):nth-child(-n + 48),
.cell:nth-child(n + 49):nth-child(odd):nth-child(-n + 56),
.cell:nth-child(n + 57):nth-child(even):nth-child(-n + 64) {
  background: #fff;
}

.knight {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

/* To increase specifity */
.cell.target.target.target.target {
  background: #22e41b;
}

.output {
  width: 300px;
  height: 150px;
  background: #ccc;
  overflow: hidden;
  padding: 5px;
  border-radius: 10px;
  font-size: 0.8rem;
}
