* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.chess-board {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #928e8e;
  background: #928e8e;
}

.cell:nth-child(n + 1):nth-child(odd):nth-child(-n + 8),
.cell:nth-child(n + 9):nth-child(even):nth-child(-n + 16),
.cell:nth-child(n + 17):nth-child(odd):nth-child(-n + 24),
.cell:nth-child(n + 25):nth-child(even):nth-child(-n + 32),
.cell:nth-child(n + 33):nth-child(odd):nth-child(-n + 40),
.cell:nth-child(n + 41):nth-child(even):nth-child(-n + 48),
.cell:nth-child(n + 49):nth-child(odd):nth-child(-n + 56),
.cell:nth-child(n + 57):nth-child(even):nth-child(-n + 64) {
  background: #fff;
}
